{% comment %} 
  Renders a megamenu for the header.
 
  Usage:
  {% render 'header-mega-menu' %} 
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="flex">
    {%- for link in section.settings.menu.links -%}
      <li>
        {% render 'gf-broadcast'
          ,
 menu_link: link
          ,
 menu_color_scheme: section.settings.menu_color_scheme
        %}
      </li>
    {%- endfor -%}
  </ul>
</nav>