.image-with-text {
  --gf-grid-gutter: 0;
}

@media screen and (max-width: 749px) {
  .image-with-text.container {
    padding: 0;
  }
}

.image-with-text .grid {
  margin-left: 0;
  margin-bottom: 0;
}

.image-with-text__grid {
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
}

.image-with-text__media {
  min-height: 100%;
}

.image-with-text__media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-with-text__media--small {
  height: 19.4rem;
}

.image-with-text__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--small {
    height: 31.4rem;
  }

  .image-with-text__media--large {
    height: 69.5rem;
  }
}

.image-with-text__media--placeholder {
  background-color: var(--gf-color-light);
  position: relative;
  overflow: hidden;
}

.image-with-text__media--placeholder.image-with-text__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media--placeholder.image-with-text__media--adapt {
    height: 30rem;
  }
}

.image-with-text__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.image-with-text__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  padding: 4rem 1rem 8rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse .image-with-text__content {
    margin-left: auto;
  }
}

@media screen and (min-width: 990px) {
  .image-with-text__content {
    padding: 4rem 1rem 12rem;
  }
}

.image-with-text__content > * + * {
  margin-top: 2rem;
}

.image-with-text__content > .image-with-text__text:empty ~ a {
  margin-top: 2rem;
}

.image-with-text__content > :first-child:is(.image-with-text__heading) {
  margin-top: 0;
}

.image-with-text__content :last-child:is(.image-with-text__heading) {
  margin-bottom: 0;
}

.image-with-text__content .button + .image-with-text__text {
  margin-top: 2rem;
}

.image-with-text__content .image-with-text__text + .button {
  margin-top: 3rem;
}

.image-with-text__heading {
  margin-top: 1rem;
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .image-with-text__heading {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

.image-with-text__heading--large {
  font: var(--gf-h2-font);
}

.image-with-text__heading--medium {
  font: var(--gf-h1-font);
}

@media screen and (min-width: 1100px) {
  .image-with-text__heading--ninety {
    max-width: 90%;
  }
}

.image-with-text__text {
  padding-right: 1.6rem;
  padding-top: 1rem;
  max-width: 45rem;
}

.image-with-text__text p {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.image-with-text__link {
  margin-top: auto;
}

.image-with-text__link-wrapper {
  padding-top: 4.5rem;
}

.image-with-text__heading + .image-with-text__link,
.image-with-text__text + .image-with-text__link {
  padding-top: 1.5rem;
}

.underline--gf a.underline {
  position: relative;
  text-decoration: none;
}

.underline--gf a.underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 45%;
  height: 4px;
  background-color: #8c3838;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.6s ease;
}

.underline--gf a.underline:hover::after {
  transform: scaleX(0); /* Shrinks to the left */
}

@media screen and (min-width: 750px) {
  .image-with-text__heading + .image-with-text__link,
  .image-with-text__text + .image-with-text__link {
    padding-top: 4rem;
  }
}
