html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

dt,
dl,
dd {
  margin: 0;
}
