.footer {
  border-top: 1px solid var(--gf-color-night);
}

.footer__container {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.footer__body {
  max-width: 34.5rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column-reverse;
}

@media screen and (min-width: 750px) {
  .footer__body {
    max-width: unset;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.footer__blocks {
  --footer-menu-x-gutter: 1rem;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 6rem;
}

@media screen and (min-width: 750px) {
  .footer__blocks {
    --footer-menu-x-gutter: 4rem;
    column-gap: var(--footer-menu-x-gutter);
    row-gap: 2rem;
  }
}

.footer__block {
  width: calc(50% - (var(--footer-menu-x-gutter) / 2));
}

@media screen and (min-width: 750px) {
  .footer__block {
    width: calc(33.33% - (var(--footer-menu-x-gutter) * 2 / 3));
  }
}

@media screen and (min-width: 990px) {
  .footer__block {
    width: calc(25% - (var(--footer-menu-x-gutter) * 3 / 4));
  }
}

.footer__menu-heading {
  font: var(--gf-h6-font);
  margin: 0 0 2rem;
}

@media screen and (min-width: 750px) {
  .footer__menu-heading {
    margin: 0 0 1rem;
  }
}

.footer__menu-link + .footer__menu-link {
  margin-top: 0.4rem;
}

.footer__signoff a {
  color: #7a7a7a;
  font: var(--gf-body-caption);
}

.footer__newsletter {
  max-width: 34.5rem;
  margin-bottom: 10rem;
}

.newsletter__heading {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 750px) {
  .footer__newsletter {
    margin-bottom: 0;
    margin-left: 2rem;
  }
}
